//Färgtema satt för webbplatsen
$accent-color: #fff8ee;
$main-color: #fbead0;
$background-color: #43200c;
$text-color: #864821;

//Grundinställningar för sidan
body {
color: $text-color;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

//Positionering för header
#header {
  position: relative;
  text-align: center;
  color: $text-color;
}

//Positionering för textstycke
#headtext {
  position: absolute;
  top: 210px;
  left: 20px;
  width: 350px;
  font-weight:400;
  color: $text-color;
}

//Storlek för huvudbild
#headimg {
  width: 800px;
  opacity: 0.4;
}

//Design av meny och länkar i menyn
#nav {
  overflow: hidden;
  background-color: $accent-color;
  width: 800px;
  margin: 0 auto;

  a{
  text-decoration: none;
  color: $text-color;
  padding: 15px 20px;
  float: left;
  display: block;
  font-size: 110%;
  font-weight: normal;
}
}

#nav a:hover {
  background-color: darken($accent-color, 15%);
}


#nav a#user {
  float: right;
}

//Färg satt för body
body {
 background-color: $background-color;
}

//Färg och design satt för main
main {
  background-color: $main-color;
  width: 800px;
  margin: 0 auto;
  box-shadow: 10px 10px 1px darken($background-color, 5%);
}

//Design av text
.dryck-div {
  text-align: center;
  color: $text-color;
  border-top: 5px solid $background-color;
}

//Design av meny-element
#meny-div {
  color: $text-color;
  text-align: center;
}

//Design av logga
#logga {
  width: 90px;
  display: block;
  margin: 0 auto;
}

#logga-div {
  padding-top: 10px;
  margin-bottom: -40px;
  background-color: $accent-color;
}

//Design och positionering av huvudtextstycken
.home-text {
  text-align: center;
  margin: 0 auto;
  padding: 3px;
  margin-top: -3px;

  p {
    width: 500px;
    margin: 0 auto;
  }
}

#first-text {
  background-color: $accent-color;
}

//Design av knappar
button {
  padding: 15px 30px;
  background-color: $accent-color;
  border: none;
  border: 2px solid $text-color;
  color: $text-color;
  font-size: 100%;
  margin: 30px;
  border-radius: 50px;
}

button:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 1px $text-color;
  cursor: pointer;
}

//Design av bildelement
.drinkimg {
  width: 200px;
  padding: 10px;
}


//Placering av text för bildelement
#drink-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

    p {
      padding-left: -150px;
    }
}

//Textelement för anställda på startsida
#anställda {
  border-top: 3px solid $text-color;
}

//Design och placering av footer
footer {
  background-color: $accent-color;
  border-top: 3px solid $text-color;
  text-align: center;
  padding: 5px;
}

//Design av input i formulär på webbsidan
input {
  width: 500px;
  border-radius: 10px;
  border: none;
  border-bottom: 2px solid $text-color;
  border-right: 2px solid $text-color;
  padding: 10px;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}

//Placering av label i formulären
label {
  margin-left: 150px;
  font-size: 110%;
  padding-bottom: 30px;
}

//Placering av login-formulär
#form-login {
  margin-top: 30px;
}

//Placering av knapp
.form-btn {
  display:flex;
  margin: auto;
}

//Placering av meddelande-div
#message {
  padding-bottom: 50px;
}

//Border satt för nytt-konto-element
#nytt-konto {
  border-top: 3px solid $text-color;
}

//Placering av inloggningsknapp
#login-button {
  display: flex;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

//Skicka knapp har samma designval som inloggningsknapp
#submit-button {
  @extend #login-button;
}

//Knapp för kontaktformulär har samma designval som inloggningsknapp
#contact-button {
  @extend #login-button;
}

//När användaren inte är inloggad visas inte secret content-div
#secret-content {
  display: none;
}

//Designval för select-meny
select {
  @extend input;
  width: 520px;

  value {
    color: rgb(78, 78, 78);
  }

}

//Design av bokningsformulär
#booking-form {

  border-top: 3px solid $text-color; 

  h2 {
    text-align: center;
  }

  p {
    text-align:center;
  }
}

//Design av knapp för bokning
#booking-button {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
}

//Design av textelement
#kaffekoppen {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: -5px;
}

//Design av länkar som ser ut som knapp-element
.link {
  @extend button;
  text-decoration: none;
  display: inline-block;
}

.link a:hover{
  transform: translateY(-10px);
  box-shadow: 0px 12px 1px $text-color;
  cursor: pointer;
}

//Design av kontaktformulär
#contact-form {
  border-top: 3px solid $text-color; 
  margin-top: 50px;

  h2{
    text-align: center;
    margin-top: 50px;
  }
}

//Design av meny-div med listelement
#meny-div {
  h2 {
    text-align: left;
    margin-left: 40px;
  }

  li {
    list-style-type: none;
    text-align: left;
    border: 1px solid $text-color;
    width: 700px;
  }

  h3 {
    margin-left: 20px;
  }

  p{
    margin-left: 20px;
    margin-top: -30px;
  }
}

//Design av menyn under hemligt innehåll
#menu-now {
  @extend #meny-div;
  padding-top: 20px;

  h2{
    margin-left: 0;
    text-align: center;
  }

  p {
    margin-bottom: -10px;
  }
}

//Design av meny-div
#menu-div {
  text-align: center;
    border-top: 3px solid $text-color; 
}

//Design av knapp
#menu-button {
  margin-left: 310px;
}

#menuDiv {
    border-bottom: 3px solid $text-color; 
}

//Design av logga ut knapp
#logout-button {
  margin-left: 340px;
}

//Design och placering av bokningsinformation
#bookings {
    border-top: 3px solid $text-color;
    margin-top: 50px;
    padding-top: 20px;
margin-bottom: 50px;
  ul {
    list-style-type: none;
  }

  li {
        border: 1px solid $text-color;
    width: 700px;
  }

    h2 {
      text-align: center;
    }

    h3 {
      margin-left: 50px;
    }

    p {
      margin-top: -30px;
      margin-left: 50px;
      margin-bottom: -10px;
    }
}

//Design och placering av meddelanden från kontaktformulär
#messages {
    border-top: 3px solid $text-color;
border-bottom: none;
margin-top: 50px;
margin-bottom: 50px;

   h2 {text-align: center;}

  @extend #bookings;
}

//Design av error-p
#error-p {
  text-align: center;
}

.error-p {
  text-align: center;
}

      #updateProductBtn {
      display: none;
      margin-left: 300px;
      margin-top: -10px;
    }

//Anpassningar för skärmar med maxbredden 900px
@media(max-width: 900px) {
  main {
    width: 500px;
  }

  #nav {
    margin-top: 40px;
    width: 500px;
  }

  #nav a{
    float: none;
    width: 500px;
    margin-left: -19px;
  }

  #nav a#user {
        float: none;
    width: 500px;
  }

  #headimg {
    width: 500px;
  }

  .home-text{
    p{
      width: 300px;
    }
    
  }

  .drinkimg {
    width: 120px;
  }

  #booking-form{
    input{
      width: 300px;
      margin-left: 100px;
    }
    label {
      margin-left: 100px;
    }
  }

  #contact-form {
        input{
      width: 300px;
      margin-left: 100px;
    }
    label {
      margin-left: 100px;
    }
  }

  #form-login {
        input{
      width: 300px;
      margin-left: 100px;
    }
    label {
      margin-left: 100px;
    }
  }

  #form-register {
        input{
      width: 300px;
      margin-left: 100px;
    }
    label {
      margin-left: 100px;
    }
  }

  #form-menu{
            input{
      width: 300px;
      margin-left: 100px;
    }
    label {
      margin-left: 100px;
    }

    #drinkType {
      width: 320px;
    }
  }

  #menu-button{
    margin-left: 170px;
  }

  #logout-button {
    margin-left: 190px;
  }

  #menu-now {
    li {
      width: 400px;
    }
    button {
      width: 140px;
      padding: 15px;
      font-size: 90%;
    }
  }

      #updateProductBtn {
      margin-left: 160px;
      margin-top: -10px;
    }

    #updateButton {
      margin-left: -10px;
    }

    #meny-div {
      li {
        width: 400px;
      }
    }
    #bookings {
      li {
        width: 400px;
      }
    }

    #messages {
            li {
        width: 400px;
      }
    }

}

//Anpassningar för skärmstorlekar med maxbredden 600px
@media(max-width: 600px) {
  main {
    width: 410px;
  }

    #nav {
    width: 410px;
  }

  #nav a{
    width: 410px;
  }

  #nav a#user {
    width: 410px;
  }

    #headimg {
    width: 410px;
  }

    .drinkimg {
    width: 100px;
  }

  #booking-form{
    input{
      width: 300px;
      margin-left: 40px;
    }
    label {
      margin-left: 40px;
    }
  }

  #contact-form {
    h2{
      width: 300px;
      margin-left: 40px;
    }
        input{
      width: 300px;
      margin-left: 40px;
    }
    label {
      margin-left: 40px;
    }
  }

   #form-login {
        input{
      width: 300px;
      margin-left: 40px;
    }
    label {
      margin-left: 40px;
    }
  }

  #form-register {
        input{
      width: 300px;
      margin-left: 40px;
    }
    label {
      margin-left: 40px;
    }
  }

  #form-menu{
            input{
      width: 300px;
      margin-left: 40px;
    }
    label {
      margin-left: 40px;
    }

  }

  #menu-button{
    margin-left: 110px;
  }

  #logout-button {
    margin-left: 140px;
  }

  #menu-now {


    li {
      width: 300px;
      margin-left: -35px;
    }
    button {
      width: 120px;
      padding: 10px;
      font-size: 90%;
    }
  }

      #updateProductBtn {
      margin-left: 100px;
      margin-top: -10px;
    }

    #updateButton {
      margin-left: -10px;
    }

    #meny-div {
      li {
        width: 390px;
        margin-left: -32px;
        p {
          margin-left: 10px;
        }
      }
    }
    #bookings {
      li {
        width: 400px;
        margin-left: -35px;
      }
    }

    #messages {
            li {
        width: 400px;
      }
    }


}


