$accent-color: #9ba36a;
$main-color: #fcf8ec;
$background-color: #43200c;
$text-color: #864821;

#header {
  position: relative;
  text-align: center;
  color: $text-color;
}

#headtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headimg {
  width: 800px;
  opacity: 0.5;
}

#nav {
  overflow: hidden;
  background-color: $accent-color;
  width: 800px;
  margin: 0 auto;

  a{
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  float: left;
  display: block;
}
}

#nav a:hover {
  background-color: darken($accent-color, 15%);
}


#nav a#user {
  float: right;
}

body {
 background-color: $background-color;
}

main {
  background-color: $main-color;
  width: 800px;
  margin: 0 auto;
  box-shadow: 10px 10px 1px darken($background-color, 5%);
}

.dryck-div {
  text-align: center;
  color: $text-color;
  border-top: 5px solid $background-color;
}

#meny-div {
  color: $text-color;
  text-align: center;
}
